body {
    margin-top: 30px;
    background: url(../img/stripes.png) repeat;
}
.container {
    width: 970px;
}
.greeting {
    position: relative;
    margin-bottom: 60px;
}
.cv-language-switch {
    position: absolute;
    top: 8px;
    right: 0px;
}
.download-print {
    margin: 15px 0;
}
.cvsection {
    margin-bottom: 15px;
}
.cvspacer {
    margin: 30px 0 15px 0;
}
.carousel {
   width: 640px;
}
.label {
    font-size: 12px;
    font-weight: 600;
}
.label.label-primary {
    background-color: #3a87ad;
}

.carousel-caption {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 10;
    padding-top: 32px;
    padding-bottom: 8px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
    background-color: rgba(0,0,0,.7);
}

.carousel-indicators {
    bottom: 32px;
}