<!DOCTYPE html>
<!-- Спасибо, что заглянули! Скрипт был сгенерирован ~ за 3 часа с использованием Bootstrap, AngularJS, Google Chrome DevTools и Netbeans -->
<html lang="ru" ng-app="cvApp">
    <head>
        <meta charset="utf-8">
        <title>Алекей Удиванкин - Web Developer CV</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="css/styles.css">
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.11/angular.min.js"></script>
        <script src="//code.angularjs.org/1.3.11/i18n/angular-locale_ru.js"></script>
    </head>

    <body ng-controller="CvCtrl">

        <div class="container" ng-cloak>

            <div class="greeting">
                <h1>Алексей Удиванкин</h1>
                <h3>Web Developer CV</h3>
                <div class="cv-language-switch">
                    <a href="index.en.html" title="Switch to English"><img src="img/english.png" /></a>
                </div>
            </div>

            <div class="row cvsection">
                <div class="col-sm-2"><span class="label label-primary">О себе</span></div>
                <div class="col-sm-10">
                    <p><strong>Возраст:</strong> {{calculateAge()}} год ({{model.birthday.getTime() | date:'mediumDate'}})</p>
                    <p><strong>Место:</strong> Россия, г.Самара (готов к переезду)</p>
                </div>
            </div>

            <div class="row cvsection">
                <div class="col-sm-2"><span class="label label-primary">Цель</span></div>
                <div class="col-sm-10">
                    <p>Участие в разработке проектов различного масштаба на базе современных WEB-технологий и инновационных бизнес-идей.</p>
                    <p>Быть членом команды энтузиастов, цель которой - сделать продукт максимально качественный, превосходящий собственные ожидания.</p>
                </div>
            </div>

            <div class="row cvsection">
                <div class="col-sm-2"><span class="label label-primary">Ключевые навыки</span></div>
                <div class="col-sm-10">
                    <p><strong>IT-энтузиаст</strong> с опытом работы разработчиком интерфейсов, PHP-программистом, Sharepoint-разработчиком, менеджером проектов</p>
                    <p><strong>Стрессоустойчив</strong>: чем выше сложность проекта, тем выше моя мотивация и производительность</p>
                    <p><strong>Достойный член команды:</strong> контактный, учитываю конструктивную критику, легко обучаем</p>

                    <p class="cvspacer"><span class="label label-default">Языки</span></p>

                    <div class="row" ng-repeat="item in model.experience.languages">
                        <div class="col-sm-4" ng-bind="item.label"></div>
                        <div class="col-sm-8">
                            <div class="progress">
                                <div class="progress-bar progress-bar-success" ng-class="item.active && 'active progress-bar-striped'" aria-valuenow="{{item.ratio}}" aria-valuemin="0" aria-valuemax="100" style="width: {{item.ratio}}%;">
                                    <span class="sr-only">{{item.ratio}}%</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <p class="cvspacer"><span class="label label-default">Инструменты и др. ПО</span></p>

                    <div class="row" ng-repeat="item in model.experience.tools">
                        <div class="col-sm-4" ng-bind="item.label"></div>
                        <div class="col-sm-8">
                            <div class="progress">
                                <div class="progress-bar progress-bar-info" ng-class="item.active && 'active progress-bar-striped'" aria-valuenow="{{item.ratio}}" aria-valuemin="0" aria-valuemax="100" style="width: {{item.ratio}}%;">
                                    <span class="sr-only">{{item.ratio}}%</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-4">Windows / Mac / Linux</div>
                        <div class="col-sm-8">
                            <div class="progress">
                                <div class="progress-bar progress-bar-success" style="width: 59%">
                                    <span class="sr-only">Windows - 60% времени</span>
                                </div>
                                <div class="progress-bar progress-bar-info" style="width: 35%">
                                    <span class="sr-only">Mac - 35% времени</span>
                                </div>
                                <div class="progress-bar progress-bar-warning" style="width: 6%">
                                    <span class="sr-only">Linux - 5% времени</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <p class="cvspacer"><span class="label label-default">Фреймворки</span></p>

                    <div class="row" ng-repeat="item in model.experience.frameworks">
                        <div class="col-sm-4" ng-bind="item.label"></div>
                        <div class="col-sm-8">
                            <div class="progress">
                                <div class="progress-bar progress-bar-danger" ng-class="item.active && 'active progress-bar-striped'" aria-valuenow="{{item.ratio}}" aria-valuemin="0" aria-valuemax="100" style="width: {{item.ratio}}%;">
                                    <span class="sr-only">{{item.ratio}}%</span>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="row cvsection">
                <div class="col-sm-2"><span class="label label-primary">Опыт работы</span></div>
                <div class="col-sm-10">

                    <p><span class="label label-default">2005-2007</span></p>
                    <p><strong>ExpertDesign, интернет-студия:</strong> управление проектами, Web-мастеринг, SEO</p>

                    <p><span class="label label-default">2006-2008</span></p>
                    <p><strong>ЗАО АКБ &laquo;Газбанк&raquo;:</strong> управление Интернет-проектами АКБ &laquo;Газбанк&raquo;,
                        запуск последней версии интернет-представительства банка (разработка ТЗ, участие в разработке,
                        координация работ, разработка ряда специализированных проектов (Газбанк Онлайн-Брокер - единоличный разработчик,
                        Ипотечный промо-сайт - управление проектом, участие в разработке, Онлайн-Банкинг-управление проектом, участие в разработке),
                        реклама в сети Интернет и справочных агентствах, анализ эффективности, маркетинговые исследования и подготовка отчетов</p>
                    <p><em>Использованные технологии и продукты:</em> PHP, MySQL, Javascipt, CSS, XHTML.</p>

                    <p><span class="label label-default">2008-2009</span></p>
                    <p><strong>Свободный разработчик:</strong> Фотоблог <a href="http://www.ukushu.com/">Ukushu.com</a>,
                        движок для ночных игр energy-game.ru, сайт мини-гостиницы  samara-apartments.ru,
                        сайт компании <a href="http://www.allxbit.com/">allxbit.com</a>, сайт autoliga63.ru,
                        сайт инженерной компании &laquo;ПИК&raquo; <a href="http://www.pik-samara.ru/">pik-samara.ru</a> и др.</p>
                    <p><em>Использованные технологии и продукты:</em> PHP, jQuery, CSS, XHTML, MySQL, различные CMS.</p>

                    <p><span class="label label-default">2009-настоящее время</span></p>
                    <p><strong>Виктор и Ко - Центральная Управляющая Компания:</strong> разработчик информационных систем,
                        руководитель группы. Внутренние ИС: документооборот, отчетность, справочники, обмен данными,
                        планирование личного времени, управление проектами и пр. Внешние ИС: корпоративный сайт, сайт аквапарка,
                        фитнесс-центра, веллнесс-центра, ИС для арендаторов.</p>
                    <p><em>Использованные технологии и продукты:</em> PHP, Codeigniter, Yii, jQuery, Javascript, CSS, XHTML,
                        HTML5, различные CMS, MS Visual Studio / ASP.Net, Sharepoint, MySQL, MSSQL, JSP и пр.</p>

                </div>
            </div>

            <div class="row cvsection">
                <div class="col-sm-2"><span class="label label-primary">Последние проекты</span></div>
                <div class="col-sm-10">

                    <div id="cv-carousel" class="carousel slide" data-ride="carousel">

                        <ol class="carousel-indicators">
                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        </ol>

                        <div class="carousel-inner" role="listbox">

                            <div class="active item">
                                <img src="slides/smokymo.jpg" alt="">
                                <div class="carousel-caption">
                                    <h4>Официальный сайт известного hip-hop исполнителя Смоки Мо -
                                        <a href="http://smokymo.ru">smokymo.ru</a></</h4>
                                    <p>WolfCMS, CSS3+XHTML верстка, разработка модулей CMF, SEO</p>
                                </div>
                            </div>

                            <div class="item">
                                <img src="slides/wellness.jpg" alt="">
                                <div class="carousel-caption">
                                    <h4>Сайт крупнейшего в Самаре Wellness-центра -
                                        <a href="http://wellness.mega-samara.ru">wellness.mega-samara.ru</a></h4>
                                    <p>WolfCMS, CSS3+XHTML верстка, jQuery.</p>
                                </div>
                            </div>

                            <div class="item">
                                <img src="slides/viktorco.jpg" alt="">
                                <div class="carousel-caption">
                                    <h4>Внутренний портал компании</h4>
                                    <p>Sharepoint 2007, ASP.Net, MSSQL, jQuery, дизайн, CSS3,
                                        интеграция с поставщиками данных из внешних источников (MSSQL, MySQL, XML, JSON).</p>
                                </div>
                            </div>

                            <div class="item">
                                <img src="slides/helpdesk.jpg" alt="">
                                <div class="carousel-caption">
                                    <h4>Внутренний сайт технической поддержки</h4>
                                    <p>Sharepoint 2007, ASP.Net, MSSQL, jQuery, дизайн, CSS3, интеграция с СЭД &laquo;DocsVision&raquo;.</p>
                                </div>
                            </div>

                            <div class="item">
                                <img src="slides/workspace1.jpg" alt="">
                                <div class="carousel-caption">
                                    <h4>Рабочее место руководителя</h4>
                                    <p>YII + jQuery Mobile, разработка, CSS3 + HTML5 верстка и дизайн.</p>
                                </div>
                            </div>

                            <div class="item">
                                <img src="slides/workspace2.jpg" alt="">
                                <div class="carousel-caption">
                                    <h4>Рабочее место руководителя</h4>
                                    <p>Источники данных MSSQL, MySQL, XML, JSON, разработка провайдера аутентификации LDAP,
                                        интеграция с СЭД &laquo;DocsVision&raquo;.</p>
                                </div>
                            </div>

                            <div class="item">
                                <img src="slides/ukushu.jpg" alt="">
                                <div class="carousel-caption">
                                    <h4>Фотоблог <a href="http://www.ukushu.com">ukushu.com</a></h4>
                                    <p>Форк opensource системы Pixelpost: разработка шаблона XHTML+CSS,
                                        миграция с Prototype на jQuery, код CMS переписан на ~ 50%</p>
                                </div>
                            </div>

                            <div class="item">
                                <img src="slides/polones.jpg" alt="">
                                <div class="carousel-caption">
                                    <h4>Сайт фотостудии</h4>
                                    <p>WolfCMS, CSS3+HTML5 верстка, дизайн.</p>
                                </div>
                            </div>

                            <div class="item">
                                <img src="slides/pik.jpg" alt="">
                                <div class="carousel-caption">
                                    <h4>Сайт инженерной компании - <a href="http://www.pik-samara.ru">pik-samara.ru</a></h4>
                                    <p>WolfCMS, CSS+XHTML верстка, дизайн.</p>
                                </div>
                            </div>

                            <div class="item">
                                <img src="slides/goldsgym.jpg" alt="">
                                <div class="carousel-caption">
                                    <h4>Сайт фитнесс-центра - <a href="http://goldsgym.mega-samara.ru">goldsgym.mega-samara.ru</a></h4>
                                    <p>WolfCMS, CSS+XHTML верстка, дизайн.</p>
                                </div>
                            </div>

                            <div class="item">
                                <img src="slides/deeplook.jpg" alt="">
                                <div class="carousel-caption">
                                    <h4>Сайт для инновационной дизайн-студии - <a href="http://deeplook.ru">deeplook.ru</a></h4>
                                    <p>WolfCMS, CSS3+HTML5 верстка, jQuery, SEO</p>
                                </div>
                            </div>

                            <div class="item">
                                <img src="slides/aquapark.jpg" alt="">
                                <div class="carousel-caption">
                                    <h4>Сайт крупнейшего в поволжье аквапарка - <a href="http://aquapark-samara.ru">aquapark-samara.ru</a></h4>
                                    <p>WolfCMS, CSS+XHTML верстка, jQuery.</p>
                                </div>
                            </div>

                            <div class="item">
                                <img src="slides/issa.jpg" alt="">
                                <div class="carousel-caption">
                                    <h4>Интернет-система сервиса для арендаторов ТЦ</h4>
                                    <p>CodeIgniter, дизайн, CSS+XHTML верстка, MySQL, jQuery, обмен данными с 1C и MSSQL</p>
                                </div>
                            </div>

                        </div>

                        <a class="left carousel-control" href="#cv-carousel" role="button" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                            <span class="sr-only">&lsaquo;</span>
                        </a>

                        <a class="right carousel-control" href="#cv-carousel" role="button" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            <span class="sr-only">&rsaquo;</span>
                        </a>

                    </div>
                </div>
            </div>


            <div class="row cvsection">
                <div class="col-sm-2"><span class="label label-primary">Образование</span></div>
                <div class="col-sm-10">
                    <p><strong>Высшее, Диплом:</strong>  Самарский Муниципальный Университет Наяновой, 2004г.</p>
                </div>
            </div>

            <div class="row cvsection">
                <div class="col-sm-2"><span class="label label-primary">Знание языков</span></div>
                <div class="col-sm-10">
                    <p><strong>Английский:</strong> выше среднего, читаю и пишу технические тексты, могу проходить интервью.</p>
                    <p><strong>Немецкий:</strong> читаю профессиональную литературу, понимаю разговорную речь.</p>
                </div>
            </div>

        </div> <!-- /container -->

        <script src="//code.jquery.com/jquery-2.1.3.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
        <script src="js/script.js"></script>

    </body>
</html>
